<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/style.css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap" rel="stylesheet">
    title About me
  body
    .about
      .container
        .col
          .about__image
            img.about__img(src="assets/img/im-main.png", alt="")
        .col
          h2.about__h2 Обо мне
          p.about__p Привет. Я Влад Крахмалёв и мне 19 лет. В первую очередь я христианин, и много времени провожу в Церкви, там я стараюсь принимать активное участие в с лужении.
          p.about__p Также мне очень нравится создавать сайты и я хочу развиваться в этой сфере. Работаю я удалённо, в одной небольшой веб студии, Там мы занимаемся разрабаткой корпоративных сайтов. 
          p.about__p Стараюсь придерживаться здорового образа жизни: здоровое питание, режим сна, ранние подъёмы, утрение пробежки и вечерние тренировки.
          p.about__p В свободное время люблю почитать книгу,  посмотреть фильм, встретиться с друзьями или провести время в кругу семьи.
          p.about__p Также немного увлекаюсь написанием музыки, футбольным фристайлом, съёмкой и монтажом видео, катанием на роликах и дизайном сайтов.
        .col
          a.about__link(href="https://www.youtube.com/playlist?list=PLUmTiGOxKUOj2YS3fssLX5RT_GcsOEBQd") Мой любимый вечерний плейлист