* {
  padding: 0;
  margin: 0; }

.about {
  background-image: url("../assets/img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px; }

.col {
  margin-right: 20px; }

.about__image {
  border: 3px solid #fff; }

.about__img {
  display: block;
  object-fit: cover;
  width: 100%; }

.about__h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  color: #fff;
  margin-bottom: 10px;
  font-size: 30px; }

.about__p {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 14px; }

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px; }
  .col {
    margin: 0 0 20px 0; } }
